$background: #000000;
$background-1: #121212;
$background-2: #181818;
$background-3: #282828;
$background-4: #2c2c2c;
$background-5: #414141;

$text: #ffffff;
$text-mute: #848484;
$text-disabled: #626262;

$accent-green: #1db954;
$accent-green-light: #5cf54f;
$accent-black: #191414;

$accent-purple: #4100f5;
$accent-magenta: #da138e;
$accent-pink: #fdafae;
$accent-yellow: #f8e72d;
$accent-orange: #fec862;
$accent-lime: #cff465;
